body {
	background-color:#fff; 
	font-family: Arial, sans-serif;
	font-size: 12px;
}

#header p {
	display: inline-block;
}
.conteudo {
	border: 0;
	text-align: center;
	display: block;
}

#header {
/*	position: relative;
*/	display: inline-block;
	height: 40px;
	width: 320px;
	margin-right: 5px;
	
}

#login {
	display:inline;
	border-radius:5px;
	background-color:#0000FF;
	color: #fff;	
}

